/*
1.Posicionamiento
2.Modelo de caja(box-model)
3.Tipografia
4.Visual
5.Otros
*/

:root {
  /* fonts */
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;
  --ff-dm: "DM Sans", sans-serif;
  --ff-inter: "Inter", sans-serif;
  /* colors */
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #282623;
  --black: #201e1c;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: var(--ff-dm);
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(
    207.8deg,
    var(--black) 16.69%,
    var(--bitcoin-orange) 100%
  );
}

header img {
  width: 150px;
  height: 24px;
  margin-top: 60px;
  /* align-self: center; */
}

.header--title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
  text-align: center;
  /* align-self: ; */
}

.header--title-container h1 {
  /* font-weight: var(--fw-500); */
  font-size: 2.4rem;
  line-height: 2.6rem;
  text-align: center;
  color: var(--just-white);
}

.header--title-container p {
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--soft-orange);
  margin-top: 30px;
}

.header--title-container .header--button {
  background: var(--off-white);
  display: block;
  width: 229px;
  height: 48px;
  position: absolute;
  top: 310px;
  left: calc(50% - 115px);
  text-decoration: none;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--black);
  font-weight: var(--fw-700);
  text-align: center;
  padding: 15px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  z-index: 99;
}

.header--button span {
  background-image: url(./assets/icons/down-arrow.svg);
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-repeat: no-repeat;
  background-size: contain;
}

/* second section */
main {
  display: flex;
  flex-direction: column;
}
.main-section {
  /* position: absolute; */
  background-color: var(--off-white);
  width: 100%;
  min-width: 320px;

  height: auto;
}
.main-img {
  background-image: url(./assets/img/Bitcoin.svg);
  width: 195px;
  height: 195px;
  margin: 50px auto 40px auto;
}

.main-text-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 160px;
  text-align: center;
  margin: 0 auto;
}

.main-text-container h2 {
  font-size: 2.4rem;
  font-weight: var(--fw-700);
  color: var(--black);
}

.main-text-container p {
  font-size: 1.4rem;
  line-height: 1.8rem;
  text-align: center;
  margin-top: 20px;
  color: #757575;
  font-weight: var(--fw-500);
}

.main-table-currency {
  width: 100%;
  min-width: 320px;
  /* max-width: 900px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-left: 20px;
}

.main-table-currency h3 {
  font-size: 1.8rem;
  line-height: 2.3rem;
  margin-right: 87px;
  color: #ff9536;
  justify-self: start;
  margin-right: 150px;
}

.table {
  border-radius: 8px;
  /* padding: 10px; */
  width: 255px;
  height: 159px;
  margin-top: 12px;
}

.table tr > td {
  background-color: var(--just-white);
  width: 52%;
}
.table-container {
  width: 260px;
  display: flex;
  align-items: center;
}

.table-currency-name {
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #b5b0ac;
  font-weight: var(--fw-500);
  padding: 10px 12px;
  letter-spacing: -0.02em;
  font-family: var(--ff-inter);
}
.table-currency-firstData td {
  padding: 10px 12px;
}
.table-currency-firstData td:first-child {
  border-radius: 8px 0 0 0;
}
.table-currency-firstData td:last-child {
  border-radius: 0 8px 0 0;
}

.table-currency-lastData td:first-child {
  border-radius: 0 0 0 8px;
}
.table-currency-lastData td:last-child {
  border-radius: 0 0 8px 0;
}
.table-currency-price {
  font-size: 1.4rem;
  line-height: 1.7rem;
  font-weight: var(--fw-400);
  letter-spacing: -0.02em;
  color: #757575;
  padding: 11px 34px 11px 12px;
  font-family: var(--ff-inter);
}

.table-icon {
  background-image: url(./assets/icons/right-arrow.svg);
  display: inline-block;
  width: 20px;
  height: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 18px;
  margin-top: 13px;
}

.main-table-description {
  background-color: var(--soft-orange);
  margin: 26px auto;
  width: 192px;
  height: 31px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-table-description--title,
.main-table-description--text {
  padding: 8px;
  font-family: var(--ff-inter);
  font-size: 1.3rem;
  line-height: 14.53px;
}

.main-table-description--title {
  font-weight: var(--fw-700);
  padding-right: 0;
}
.main-table-description--text {
  padding-left: 5px;
}

/* cards section */
.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 46px;
}
.cards-section {
  background-color: var(--black);
  width: 100%;
  min-width: 320px;

  height: auto;
}

.cards-container--texts {
  width: 288px;
  height: 94px;
  margin: 64px 15px 32px;
}

.cards-title {
  font-size: 2.4rem;
  color: var(--just-white);
  text-align: center;
  font-weight: var(--fw-700);
  margin-bottom: 24px;
  line-height: 2.6rem;
}

.cards-subtitle {
  font-size: 1.4rem;
  text-align: center;
  color: #808080;
  font-weight: var(--fw-500);
  line-height: 1.8rem;
}

.card {
  width: 288px;
  height: 152px;
  background-color: var(--warm-black);
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}

.card img {
  width: 20px;
  height: 20px;
  margin: 16px 0 0 16px;
}
.card span {
  font-size: 1.8rem;
  font-weight: var(--fw-700);
  color: var(--just-white);
  line-height: 18px;
  margin: 12px 0 0 16px;
}

.card p {
  font-size: 1.4rem;
  font-weight: var(--fw-500);
  line-height: 18px;
  color: #808080;
  margin: 10px 20px 22px 16px;
}

/* img container */
.img-container {
  background-image: url(./assets/img/bitcoinbaby2x.jpg);
  width: 516px;
  height: 387px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.img-container--title {
  position: absolute;
  top: 64px;
  width: 288px;
  text-align: center;
  font-size: 2.4rem;
  font-weight: var(--fw-700);
  line-height: 2.4rem;
  color: var(--just-white);
}

/* plan section */

.plans-section {
  background-color: var(--off-white);
  width: 100%;
  min-width: 320px;
  height: auto;
}

.plans-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.plans-container--texts {
  width: 288px;
  max-width: 900px;
  width: 90%;
  margin: 64px 0 50px 0;
  display: flex;
  flex-direction: column;
}

.plans-container--texts p {
  text-align: center;
  font-size: 2.4rem;
  font-weight: var(--fw-700);
  color: var(--black);
  line-height: 2.6rem;
}
.plans-container--texts span {
  margin-top: 24px;
  font-size: 1.4rem;
  text-align: center;
  line-height: 1.8rem;
  color: #757575;
}

.plans-cards {
  display: flex;
}

.plan-card {
  position: relative;
  width: 190px;
  height: 247px;
  background-color: var(--just-white);
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  margin: 20px 8px;
  border-radius: 8px;
}

.plan-card .top {
  position: absolute;
  width: 101px;
  height: 31px;
  background: var(--bitcoin-orange);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: calc(50% - 50px);
  top: -16px;
  padding: 8px;
}
.top p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: var(--fw-700);
  color: var(--just-white);
}
.price-description {
 width: 73px;
height: 18px;
display: flex;
justify-content: center;
align-items: center;
margin: 31px auto 0 ;
}

.price-description p{
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-weight: var(--fw-500);
  color: #000000;
}
.price{
  width: 77px;
  height: 56px;
  margin: 8px auto;

}
.price--number{
  font-size: 5.2rem;
  line-height: 6.3rem;
  font-weight: var(--fw-700);
  color: #000000;
  font-family: var(--ff-inter);
  letter-spacing: -0.08rem;
}
